.btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding:.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;

}

.btn:hover {
    background-color: #e7fbbe;
}

.container {
    margin-bottom: 8px;
    background-color: #fffdde;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    background-color: #d9d7f1;;
}

aside {
    text-align: right;
}

aside h2 {
    padding: 0px 30px;

}


#newsHeaderTag {
    text-decoration: underline;
}

#newsImage > img{
    width: 690px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#snipUrl {
    background-color: #d9d7f1;
    color: black;
    align-items: stretch;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#newsTitle {
    color: whitesmoke;
    background-color: palevioletred;
    border-radius: 20px;
}

#snippet {
    align-items: end;
    padding-top: 10%;
    padding-bottom: 10%;
   border-bottom: 2px solid palevioletred;
}

#newsUrl {
    padding-top: 2%;
    text-decoration: underline;
    color: rgba(54, 54, 224, 0.829);
}

body h1 {
    text-align: left;
    font-size: 60px;
    margin: 10px 80px;
}

body nav {
    text-align: right;
    padding: 0 300px;
    font-size: 40px;
}

body nav a {
    color: black;
}

.modal-dialog {
    transition: none!important;
}

ul {
    list-style: none;
}

#jungBtn {
    background-color: black;
}

#darkBtn {
    border-radius: 30%;

}