.btn {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding:.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;

}
.btn:hover {
    background-color: #e7fbbe;
}
.container {
    background-color: #fffdde;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: #d9d7f1;;
}

aside {
    text-align: right;
}

aside h2 {
    padding: 0px 30px;

}

main h1 {
    text-align: left;
    font-size: 60px;
    margin: 10px 80px;
}

main nav {
    text-align: right;
    padding: 0 300px;
    font-size: 40px;
}

main nav a {
    color: black;
}

.modal-dialog {
    transition: none!important;
}
ul {
    list-style: none;
}
#jungBtn {
    background-color: black;
}
